<h3>Struggles</h3>

<h4>Enter your struggle</h4>

<%= form_for @post do |f| %>
  <p>
    <%= f.label "Share your struggles" %>
    <%= f.text_area :content, :required => true %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
