<!DOCTYPE html>
<html>
<head>
  <title>Darkness</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Darkness</h1>

<nav>
  <div>
    <a href="/home">Homepage</a> |
    <a href="/intro">Intro</a> |
    <a href="/struggles">Enter Struggles</a> |
    <a href="/swim">Swimming</a> |
    <a href="/noise">Noise</a> |
    <a href="/maze">Maze</a> |
    <a href="/balloons">Balloons</a> |
    <a href="/ending">End Page</a> |
  </div>
</nav>

<hr>
<div class="container">
<%= yield %>
</div>
<hr>

</body>
</html>
